/*navbar*/

.navbar ul{
    list-style-type: none;
    background-color: rgb(151, 228, 252);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 0px 0px 25px 25px;
    border:0px solid rgb(255, 255, 255);
    }
    
    .navbar a{
    color: rgb(4, 0, 22);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    }
    
    .navbar a:hover{
    background-color: hsl(192, 100%, 85%);
    }
    
    .navbar li{
    float: left;
    }

    /*logo*/
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    /*black man be having a little boggie he does*/
    .blackman {
        display: block;
        margin-left: -5%;
        margin-right: auto;
        margin-top: -15%;
        width: 25%;
    }

    .blackman2 {
        display: block;
        margin-left: auto;
        margin-right: -5%;
        margin-top: -15%;
        width: 25%;
        image-orientation: flip;
    }

    .indexblurb {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        text-align: center;
    }

    .wasted {
 text-align: center;
 display: block;
 margin-left: auto;
 margin-right: auto;
    }